# Environment
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
venv/
.venv/
*.egg-info/
.pytest_cache/
.mypy_cache/

# Django
media/
staticfiles/
static/
*.sqlite3

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log